{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CUJH Author Panel</title>

    <!-- Custom fonts for this template -->
    <link href=".{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/sb-author-2.css' %}" rel="stylesheet">

    <style>
                .btn-primary {
            background-color:#4e73df;
            border-color:#4e73df;
            }

            .btn-primary:hover {
            color: #fff;
            background-color:#2e59d9;
            border-color:#2653d4;
            }

            .btn-primary:focus, .btn-primary.focus {
            color: #fff;
            background-color:#2e59d9;
            border-color:#2653d4;
            box-shadow: 0 0 0 0.2rem rgba(105, 136, 228, 0.5);
            }   
    </style>

</head>

<body id="page-top">

    {% include 'authorsidebar.html' %}

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Profile Section -->
                    <div class="row">
                        <div class="col-lg-3"></div>
                        <div class="col-lg-6">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">User Profile</h6>
                                </div>
                                <div class="card-body">
                                    <form id="profileForm">
                                        <div class="form-group">
                                            <label for="profileName">Name</label>
                                            <input type="text" class="form-control" id="profileName" value="John Doe"
                                                readonly>
                                        </div>
                                        <div class="form-group">
                                            <label for="profileEmail">Email</label>
                                            <input type="email" class="form-control" id="profileEmail"
                                                value="johndoe@example.com" readonly>
                                        </div>
                                        <div class="form-group">
                                            <label for="profileAddress">Address</label>
                                            <textarea class="form-control" id="profileAddress" rows="3"
                                                readonly>123 Street, City, Country</textarea>
                                        </div>
                                        <div class="form-group">
                                            <label for="profileMobile">Mobile</label>
                                            <input type="tel" class="form-control" id="profileMobile"
                                                value="123 456 7890" readonly>
                                        </div>
                                        <div class="form-group">
                                            <label for="profileDOB">Date of Birth</label>
                                            <input type="text" class="form-control" id="profileDOB"
                                                value="January 1, 1990" readonly>
                                        </div>
                                        <div class="form-group">
                                            <label for="profileInstitute">Institue</label>
                                            <input type="text" class="form-control" id="profileAffiliation"
                                                value="University College" readonly>
                                        </div>
                                        <div class="form-group">
                                            <label for="profileDepartment">Department</label>
                                            <input type="text" class="form-control" id="profileInstitute"
                                                value="Department of Science" readonly>
                                        </div>
                                        <div class="form-group">
                                            <label for="profileDesignation">Designation</label>
                                            <input type="text" class="form-control" id="profileInstitute"
                                                value="Research scholar" readonly>
                                        </div>
                                        <button type="button" class="btn btn-primary btn-block"
                                            onclick="editProfile()">Edit Profile</button>
                                        <button type="submit" class="btn btn-success btn-block mt-2 d-none"
                                            id="saveProfileBtn">Save Changes</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End of Profile Section -->

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->


        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="author_login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

    <!-- Page level plugins -->
    <script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>

    <!-- Page level custom scripts -->
    <script src="{% static 'js/demo/chart-area-demo.js' %}"></script>
    <script src="{% static 'js/demo/chart-pie-demo.js' %}"></script>

    <!-- Custom script for profile editing -->
    <script>
        function editProfile() {
            // Enable all input fields for editing
            $('input, textarea').prop('readonly', false);
            $('#saveProfileBtn').removeClass('d-none'); // Show the Save Changes button
        }

        // Submit profile changes
        $('#profileForm').submit(function (event) {
            event.preventDefault(); // Prevent form submission

            // Here you can implement the logic to save the updated profile details
            // For demonstration purposes, this alerts the user that changes are saved
            alert('Profile changes saved successfully!');
            
            // Disable input fields and hide Save Changes button after saving
            $('input, textarea').prop('readonly', true);
            $('#saveProfileBtn').addClass('d-none'); // Hide the Save Changes button
        });
    </script>

</body>

</html>
