{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>journal</title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-editor.css' %}" rel="stylesheet">
    <link href="{% static 'css/journal.css' %}" rel="stylesheet" >

    <style>
        .form-box {
          background-color: #f8f9fa;
          border: 1px solid #ced4da;
          border-radius: 10px;
          padding: 20px;
          margin-bottom: 70%;
        }
        .center-content {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px; /* Optional: Add space between the link and the button */
        }
    </style>
</head>

<body id="page-top">

    {% include 'editor_sidebar.html' %}
                   
                <!-- journal form -->            
                <div class="container">
                    <div class="row">
                      <div class="col-md-6 offset-md-3"> <!-- Centering the form for medium and large screens -->
                        <div class="form-box">
                            <div class="card-header py-3">
                                <h4 class="m-0 font-weight-bold text-primary" style="text-align: center;">Add Volumes and Issues</h4>
                            </div><br>  
                            {% if messages %}
                                {% for message in messages %}
                                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                {% endfor %}
                            {% endif %}
                            <form method="post" enctype="multipart/form-data" action="/add_vic/{{ journal_id }}/">
                                {% csrf_token %}
                                <input type="hidden" name="journal_id" value="{{ journal_id }}">
                                <div class="form-group">
                                    <label for="volume">Volume Name or Number:</label>
                                    <input type="text" class="form-control" id="volume" name="volume" required>
                                </div>
                                <div class="form-group">
                                    <label for="coverImage">Cover Image:</label>
                                    <input type="file" class="form-control-file" id="coverImage" name="cover_image" required>
                                </div>
                                <div class="form-group">
                                    <label for="numIssues">Number of Issues:</label>
                                    <input type="number" class="form-control" id="numIssues" name="num_issues" min="1" required>
                                </div>                
                                <div class="text">
                                    <button type="submit" class="btn btn-success btn-block mt-3" id="submitVic">Submit</button>
                                </div>          
                            </form>
                        </div>
                    </div>
                </div>
            </div>    
                 
                
                


    <!-- Bootstrap core JavaScript-->
       <!-- Bootstrap core JavaScript-->
       <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
       <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
   
       <!-- Core plugin JavaScript-->
       <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
   
       <!-- Custom scripts for all pages-->
       <script src="{% static 'js/sb-admin-2.min.js' %}"></script>
   
       <!-- Page level plugins -->
       <script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>
   
       <!-- Page level custom scripts -->
       <script src="{% static 'js/demo/chart-area-demo.js' %}"></script>
       <script src="{% static 'js/demo/chart-pie-demo.js' %}"></script>

</body>

</html>