{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Article</title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-editor.css' %}" rel="stylesheet">
    <link href="{% static 'css/article.css' %}" rel="stylesheet">

</head>

<body id="page-top">

    {% include 'editor_sidebar.html' %}
    
                <!-- Begin Page Content -->
                <div class="container-fluid">

                     <!-- Page Heading -->
                        <!-- <h1 class="h3 mb-0 text-gray-800">Articles</h1>

                    <div class="row">
                        <div class="col-lg-6"></div>
                        <br> -->


          <!-- End of journal form -->

        
          <div class="container">
            <h2>Upload an Article</h2><br><br>
            <form action="#" method="post" id="articleForm">
                <div class="form-group">
                    <label class="required" for="journal_select">Journal Name:</label>
                    <select name="journal_select" id="journal_select" required>
                        <option value="">Select Journal</option>
                        <!-- Options will be populated dynamically -->
                    </select>
                </div>
                <div class="form-group">
                    <label class="required" for="volume_select">Volume Number:</label>
                    <select name="volume_select" id="volume_select" required>
                        <option value="">Select Volume</option>
                        <!-- Options will be populated dynamically based on selected journal -->
                    </select>
                </div>
                <div class="form-group">
                    <label class="required" for="issue_select">Issue Number:</label>
                    <select name="issue_select" id="issue_select" required>
                        <option value="">Select Issue Number</option>
                        <!-- Options will be populated dynamically based on selected volume -->
                    </select>
                </div>
                <div class="form-group">
                    <label class="required" for="article_title">Article Title:</label>
                    <input type="text" name="article_title" id="article_title" placeholder="Enter article title" required>
                </div>
                <div class="form-group">
                    <label class="required" for="num_authors">Number of Authors:</label>
                    <select name="num_authors" id="num_authors" required>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                </div>
                <div class="form-group" id="multiple_authors">
                    <!-- Author name inputs will be dynamically added here -->
                </div>
                <button type="submit" class="submit-btn">Submit</button>
            </form>
        </div>
        
        <script>
            // Example data for journals, volumes, and issues (you can replace this with your data)
            const journals = [
                { name: "Journal A", volumes: ["Volume 1", "Volume 2", "Volume 3", "Volume 4", "Volume 5"] },
                { name: "Journal B", volumes: ["Volume 1", "Volume 2", "Volume 3", "Volume 4", "Volume 5"] }
            ];
        
            const journalSelect = document.getElementById("journal_select");
            const volumeSelect = document.getElementById("volume_select");
            const issueSelect = document.getElementById("issue_select");
            const numAuthorsSelect = document.getElementById("num_authors");
            const multipleAuthorsDiv = document.getElementById("multiple_authors");
        
            // Function to populate journal dropdown
            function populateJournals() {
                journals.forEach(journal => {
                    const option = document.createElement("option");
                    option.value = journal.name;
                    option.textContent = journal.name;
                    journalSelect.appendChild(option);
                });
            }
        
            // Function to populate volume dropdown based on selected journal
            function populateVolumes() {
                const selectedJournal = journalSelect.value;
                const journal = journals.find(journal => journal.name === selectedJournal);
                volumeSelect.innerHTML = "<option value=''>Select Volume</option>";
                journal.volumes.forEach(volume => {
                    const option = document.createElement("option");
                    option.value = volume;
                    option.textContent = volume;
                    volumeSelect.appendChild(option);
                });
            }
        
            // Function to populate issue dropdown based on selected volume
            function populateIssues() {
                // Replace this with your logic to fetch issues based on the selected volume
                // For now, we'll just populate some dummy issues
                const selectedVolume = volumeSelect.value;
                issueSelect.innerHTML = "<option value=''>Select Issue Number</option>";
                for (let i = 1; i <= 4; i++) {
                    const option = document.createElement("option");
                    option.value = i;
                    option.textContent = i;
                    issueSelect.appendChild(option);
                }
            }
        
            // Function to add author name inputs based on the selected number of authors
            function addAuthorInputs() {
                const numAuthors = parseInt(numAuthorsSelect.value);
                multipleAuthorsDiv.innerHTML = ""; // Clear previous inputs
                for (let i = 1; i <= numAuthors; i++) {
                    const input = document.createElement("input");
                    input.type = "text";
                    input.name = "author" + i;
                    input.id = "author" + i;
                    input.placeholder = "Enter author's name";
                    multipleAuthorsDiv.appendChild(input);
                }
            }
        
            // Event listeners for dropdown change events
            journalSelect.addEventListener("change", populateVolumes);
            volumeSelect.addEventListener("change", populateIssues);
            numAuthorsSelect.addEventListener("change", addAuthorInputs);
        
            // Initial population of journal dropdown
            populateJournals();
        </script>
        
         
          
          
            <!-- Footer -->
            <!-- <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2020</span>
                    </div>
                </div>
            </footer> -->
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

   <!-- Bootstrap core JavaScript-->
   <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
   <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

   <!-- Core plugin JavaScript-->
   <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

   <!-- Custom scripts for all pages-->
   <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

   <!-- Page level plugins -->
   <script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>

   <!-- Page level custom scripts -->
   <script src="{% static 'js/demo/chart-area-demo.js' %}"></script>
   <script src="{% static 'js/demo/chart-pie-demo.js' %}"></script>
   <script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
   <script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>
   <script src="{% static 'js/demo/datatables-demo.js' %}"></script>
    
    
</body>

</html>