{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>JP Admin Panel</title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.css'%}" rel="stylesheet">

    

</head>

<body id="page-top">

    {% include 'editor_sidebar.html' %}

    <div class="container mt-5">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="journal-tab" data-toggle="tab" href="#journal" role="tab" aria-controls="journal" aria-selected="true">Journal Page Visits</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="article-tab" data-toggle="tab" href="#article" role="tab" aria-controls="article" aria-selected="false">Article Visits</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="download-tab" data-toggle="tab" href="#download" role="tab" aria-controls="downloads" aria-selected="false">Article Downloads</a>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <!-- Journal Page Tab -->
          <div class="tab-pane fade show active" id="journal" role="tabpanel" aria-labelledby="journal-tab">
            <div class="card mt-3">
              <div class="card-body">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">JOURNAL PAGE VISIT COUNTS</h6>
                </div><br>
                
                <div id="journalVisitCount" class="mt-3 card d-none">
                  <div class="card-body">
                    <h5 class="card-title">Journal Page Visit Count</h5>
                    <p class="card-text">Total visits: <span id="journalVisitCountValue">0</span></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <!-- Article Tab -->
          <div class="tab-pane fade" id="article" role="tabpanel" aria-labelledby="article-tab">
            <div class="card mt-3">
              <div class="card-body">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">ARTICLE VISIT COUNTS</h6>
                </div><br>
                <form id="articleForm">
                  <div class="form-row">
                      <div class="form-group col-md-3">
                          <label for="articleJournal">Select Journal:</label>
                          <select class="form-control" id="articleJournal">
                              <option value="">Select Journal</option>
                          </select>
                      </div>
                      <div class="form-group col-md-2">
                          <label for="articleVolume">Select Volume:</label>
                          <select class="form-control" id="articleVolume">
                              <option value="">Select Volume</option>
                          </select>
                      </div>
                      <div class="form-group col-md-2">
                          <label for="articleIssue">Select Issue:</label>
                          <select class="form-control" id="articleIssue">
                              <option value="">Select Issue</option>
                          </select>
                      </div>
                      <div class="form-group col-md-2">
                          <label for="articleName">Select Article:</label>
                          <select class="form-control" id="articleName">
                              <option value="">Select Article</option>
                          </select>
                      </div>
                  </div>
              </form>
              <div id="articleVisitCount" class="mt-3 card d-none visit-count-card">
                  <div class="card-body">
                      <h5 class="card-title">Article Visit Count</h5>
                      <p class="card-text">Total visits: <span id="articleVisitCountValue">0</span></p>
                  </div>
              </div>
              </div>
            </div>
          </div>

          <!-- Download Page Tab -->
          <div class="tab-pane fade" id="download" role="tabpanel" aria-labelledby="download-tab">
            <div class="card mt-3">
              <div class="card-body">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">ARTICLE DOWNLOAD COUNTS</h6>
                </div>

                <form id="downloadForm">
                  <div class="form-row">
                      <div class="form-group col-md-3">
                          <label for="downloadJournal">Select Journal:</label>
                          <select class="form-control" id="downloadJournal">
                              <option value="">Select Journal</option>
                          </select>
                      </div>
                      <div class="form-group col-md-2">
                          <label for="downloadVolume">Select Volume:</label>
                          <select class="form-control" id="downloadVolume">
                              <option value="">Select Volume</option>
                          </select>
                      </div>
                      <div class="form-group col-md-2">
                          <label for="downloadIssue">Select Issue:</label>
                          <select class="form-control" id="downloadIssue">
                              <option value="">Select Issue</option>
                          </select>
                      </div>
                      <div class="form-group col-md-2">
                          <label for="downloadArticle">Select Article:</label>
                          <select class="form-control" id="downloadArticle">
                              <option value="">Select Article</option>
                          </select>
                      </div>
                  </div>
              </form>
              <div id="downloadCount" class="mt-3 card d-none">
                  <div class="card-body">
                      <h5 class="card-title">Article Download Count</h5>
                      <p class="card-text">Total downloads: <span id="downloadCountValue">0</span></p>
                  </div>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
   
    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

    <!-- Page level plugins -->
    <script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>

    <!-- Page level custom scripts -->
    <script src="{% static 'js/demo/chart-area-demo.js' %}"></script>
    <script src="{% static 'js/demo/chart-pie-demo.js' %}"></script>

</body>

</html>    