{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>JP Admin Panel</title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.css'%}" rel="stylesheet">  

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/index/">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-user"></i>
                </div>
                <div class="sidebar-brand-text mx-3">JP Admin</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="/index/">
                    <i class="fas fa-fw fa-home"></i>
                    <span>HOME</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
            </div>

            <li class="nav-item">
                <a class="nav-link" href="/editor/">
                    <i class="fas fa-fw fa-download"></i>
                    <span>Editors</span></a>
            </li>

            <!-- Nav Item - Journals Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link" href="/journal/">
                    <i class="fas fa-fw fa-book"></i>
                    <span>Journals</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/visits/">
                    <i class="fas fa-fw fa-eye"></i>
                    <span>Visits</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/downloads/">
                    <i class="fas fa-fw fa-download"></i>
                    <span>Downloads</span></a>
            </li>

            <!-- Nav Item - Tables -->
                <li class="nav-item">
                    <a class="nav-link" href="/userlist/">
                    <i class="fas fa-fw fa-table"></i>
                    <span>User List</span></a>
                </li>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>
                     
                    <!-- Topbar Search -->
                    <h2 style="color: #4e3e3e; font-family: 'Times New Roman', Times, serif;"><b>Downloads</b></h2>
                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                            placeholder="Search for..." aria-label="Search"
                                            aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">ADMIN</span>
                                <img class="img-profile rounded-circle"
                                    src="../static/img/undraw_profile.svg">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Settings
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Activity Log
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <div class="card signup_v4 mb-30">
                        <div class="card-body">
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link active" id="article-downloads-tab" data-toggle="tab" href="#articleDownloads" role="tab" aria-controls="articleDownloads" aria-selected="true">Article Downloads</a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link" id="volume-downloads-tab" data-toggle="tab" href="#volumeDownloads" role="tab" aria-controls="volumeDownloads" aria-selected="false">Volume Downloads</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="myTabContent">
                                <!-- Article Downloads Section -->
                                <div class="tab-pane fade show active" id="articleDownloads" role="tabpanel" aria-labelledby="article-downloads-tab">
                                    <div class="boxed-container">
                                        <h4 class="text-center mt-4 mb-4" style="text-transform: uppercase; color: #000000;">Article Downloads</h4>
                                        <form>
                                            <div class="form-row">
                                                <div class="form-group col-md-12">
                                                    <label for="inputArticleJournalName">Journal Name</label>
                                                    <select class="form-control" id="inputArticleJournalName" required>
                                                        <option value="">Select Journal Name</option>
                                                        <option value="Journal 1">Journal 1</option>
                                                        <option value="Journal 2">Journal 2</option>
                                                        <option value="Journal 3">Journal 3</option>
                                                    </select>
                                                </div>
                                                <div class="form-group col-md-12">
                                                    <label for="inputArticleVolumeNumber">Volume Number</label>
                                                    <select class="form-control" id="inputArticleVolumeNumber" required>
                                                        <option value="">Select Volume Number</option>
                                                    </select>
                                                </div>
                                                <div class="form-group col-md-12">
                                                    <label for="inputArticleName">Article Name</label>
                                                    <select class="form-control" id="inputArticleName" required>
                                                        <option value="">Select Article Name</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </form>
                                        <div id="articleDownloadsCard" style="display: none;">
                                            <div class="card">
                                                <div class="card-body">
                                                    <h5 class="card-title">Article Downloads Summary</h5>
                                                    <p class="card-text">Total Downloads: <span id="articleTotalDownloads"></span></p>
                                                    <p class="card-text">Article Name: <span id="articleName"></span></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                
                                <!-- Volume Downloads Section -->
                                <div class="tab-pane fade" id="volumeDownloads" role="tabpanel" aria-labelledby="volume-downloads-tab">
                                    <div class="boxed-container">
                                        <h4 class="text-center mt-4 mb-4" style="text-transform: uppercase; color: #000000;">Volume Downloads</h4>
                                        <form>
                                            <div class="form-row">
                                                <div class="form-group col-md-12">
                                                    <label for="inputVolumeJournalName">Journal Name</label>
                                                    <select class="form-control" id="inputVolumeJournalName" required>
                                                        <option value="">Select Journal Name</option>
                                                        <option value="Journal 1">Journal 1</option>
                                                        <option value="Journal 2">Journal 2</option>
                                                        <option value="Journal 3">Journal 3</option>
                                                    </select>
                                                </div>
                                                <div class="form-group col-md-12">
                                                    <label for="inputVolumeNumberForDownloads">Volume Number</label>
                                                    <select class="form-control" id="inputVolumeNumberForDownloads" required>
                                                        <option value="">Select Volume Number</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </form>
                                        <div id="volumeDownloadsCard" style="display: none;">
                                            <div class="card">
                                                <div class="card-body">
                                                    <h5 class="card-title">Volume Downloads Summary</h5>
                                                    <p class="card-text">Total Downloads: <span id="volumeTotalDownloads"></span></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <style>
                    .boxed-container {
                        border: 1px solid #ccc;
                        padding: 20px;
                        margin-bottom: 20px;
                        border-radius: 5px;
                    }

                    #article-downloads-tab.nav-link, #volume-downloads-tab.nav-link {
                        color: #000000;
                        }

                        #article-downloads-tab.nav-link.active, #volume-downloads-tab.nav-link.active {
                        color: #7e7a6d;
                        }
                </style>
                
                <!-- Include jQuery library -->
                <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                
                <script>



                    // Dummy data for volumes and articles
                    var journalVolumes = {
                        "Journal 1": ["Volume 1", "Volume 2", "Volume 3"],
                        "Journal 2": ["Volume 4", "Volume 5", "Volume 6"],
                        "Journal 3": ["Volume 7", "Volume 8", "Volume 9"]
                    };
                
                    var volumeArticles = {
                        "Journal 1-Volume 1": ["Article 1", "Article 2", "Article 3"],
                        "Journal 1-Volume 2": ["Article 4", "Article 5", "Article 6"],
                        "Journal 1-Volume 3": ["Article 7", "Article 8", "Article 9"],
                        "Journal 2-Volume 4": ["Article 10", "Article 11", "Article 12"],
                        "Journal 2-Volume 5": ["Article 13", "Article 14", "Article 15"],
                        "Journal 2-Volume 6": ["Article 16", "Article 17", "Article 18"],
                        "Journal 3-Volume 7": ["Article 19", "Article 20", "Article 21"],
                        "Journal 3-Volume 8": ["Article 22", "Article 23", "Article 24"],
                        "Journal 3-Volume 9": ["Article 25", "Article 26", "Article 27"]
                    };
                
                    // Function to get volumes based on selected journal
                    function getVolumes(journalName) {
                        return journalVolumes[journalName] || [];
                    }
                
                    // Function to get articles based on selected journal and volume
                    function getArticles(journalName, volumeNumber) {
                        return volumeArticles[journalName + '-' + volumeNumber] || [];
                    }
                
                    // Function to fetch total downloads for the selected journal and volume
                    function getTotalDownloads(journalName, volumeNumber) {
                        // Replace this with your own logic to fetch total downloads for the selected journal and volume
                        // For demonstration, returning a random number
                        return Math.floor(Math.random() * 1000) + 1; // Random number between 1 and 1000
                    }
                
                    // Dummy data demonstration
                    $(document).ready(function() {
                        // Populate Volume dropdown based on selected Journal for Article Downloads
                        $('#inputArticleJournalName').change(function() {
                            var selectedJournalForArticles = $(this).val();
                            if (selectedJournalForArticles) {
                                $('#inputArticleVolumeNumber').empty().append('<option value="">Select Volume Number</option>');
                                var volumesForArticles = getVolumes(selectedJournalForArticles);
                                volumesForArticles.forEach(function(volume) {
                                    $('#inputArticleVolumeNumber').append('<option value="' + volume + '">' + volume + '</option>');
                                });
                            } else {
                                $('#inputArticleVolumeNumber').empty();
                            }
                        });
                
                        // Populate Article dropdown based on selected Volume for Article Downloads
                        $('#inputArticleVolumeNumber').change(function() {
                            var selectedVolumeForArticles = $(this).val();
                            var selectedJournalForArticles = $('#inputArticleJournalName').val();
                            if (selectedVolumeForArticles && selectedJournalForArticles) {
                                $('#inputArticleName').empty().append('<option value="">Select Article Name</option>');
                                var articlesForDownloads = getArticles(selectedJournalForArticles, selectedVolumeForArticles);
                                articlesForDownloads.forEach(function(article) {
                                    $('#inputArticleName').append('<option value="' + article + '">' + article + '</option>');
                                });
                            } else {
                                $('#inputArticleName').empty();
                            }
                        });
                
                        // Populate Volume dropdown based on selected Journal for Volume Downloads
                        $('#inputVolumeJournalName').change(function() {
                            var selectedJournalForDownloads = $(this).val();
                            if (selectedJournalForDownloads) {
                                $('#inputVolumeNumberForDownloads').empty().append('<option value="">Select Volume Number</option>');
                                var volumesForDownloads = getVolumes(selectedJournalForDownloads);
                                volumesForDownloads.forEach(function(volume) {
                                    $('#inputVolumeNumberForDownloads').append('<option value="' + volume + '">' + volume + '</option>');
                                });
                            } else {
                                $('#inputVolumeNumberForDownloads').empty();
                            }
                        });
                
                        // Show Volume Downloads Card when Volume Number is selected
                        $('#inputVolumeNumberForDownloads').change(function() {
                            var selectedVolumeForDownloads = $(this).val();
                            var selectedJournalForDownloads = $('#inputVolumeJournalName').val();
                            if (selectedVolumeForDownloads && selectedJournalForDownloads) {
                                var totalDownloads = getTotalDownloads(selectedJournalForDownloads, selectedVolumeForDownloads);
                                $('#volumeTotalDownloads').text(totalDownloads);
                                $('#volumeDownloadsCard').show();
                            } else {
                                $('#volumeDownloadsCard').hide();
                            }
                        });
                
                        // Show Article Downloads Card when Article Name is selected
                        $('#inputArticleName').change(function() {
                            var selectedArticleForDownloads = $(this).val();
                            var selectedVolumeForDownloads = $('#inputArticleVolumeNumber').val();
                            var selectedJournalForDownloads = $('#inputArticleJournalName').val();
                            if (selectedArticleForDownloads && selectedVolumeForDownloads && selectedJournalForDownloads) {
                                var totalDownloads = getTotalDownloads(selectedJournalForDownloads, selectedVolumeForDownloads);
                                var articleName = $('#inputArticleName option:selected').text();
                                $('#articleTotalDownloads').text(totalDownloads);
                                $('#articleName').text(articleName);
                                $('#articleDownloadsCard').show();
                            } else {
                                $('#articleDownloadsCard').hide();
                            }
                        });
                    });
                
                </script>
                
                
                <!-- /.container-fluid -->

            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; University of Calicut</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="/login/">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

    <!-- Page level plugins -->
    <script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>

    <!-- Page level custom scripts -->
    <script src="{% static 'js/demo/chart-area-demo.js' %}"></script>
    <script src="{% static 'js/demo/chart-pie-demo.js' %}"></script>

</body>

</html>