{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>JP Editor</title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-editor.css' %}" rel="stylesheet">
    <style>
        .card {
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
        }
        .card-header {
            background-color: #4e73df;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }
        .card-body {
            padding: 20px;
        }
        table {
            width: 100%;
            margin-top: 20px;
        }
        th, td {
            text-align: center;
            vertical-align: middle;
        }
        th {
            background-color: #f8f9fc;
        }
        .btn {
            margin: 5px;
        }
        .modal-header {
            background-color: #4e73df;
            color: #fff;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }
        .modal-content {
            border-radius: 5px;
        }
    </style>
</head>

<body id="page-top">
    {% include 'admin_sidebar.html' %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="card">
                    <div class="card-header py-3">
                        <h2 class="m-0 font-weight-bold">MANAGE VOLUMES</h2>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Volume</th>
                                    <th>Total Issues</th>
                                    <th>Approved Articles</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for volume in volumes %}
                                <tr>
                                    <td>{{ volume.volume }}</td>
                                    <td>{{ volume.total_issues }}</td>
                                    <td>{{ volume.approved_articles_display }}</td>
                                    <td>
                                        <button class="btn btn-success edit-button" data-volume-id="{{ volume.volume_id }}">Edit</button>
                                        <button class="btn btn-danger remove-button" data-volume-id="{{ volume.volume_id }}">Remove</button>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <button class="btn btn-info" onclick="window.location.href='/edit_journals/{{ journal_id }}/'">Back</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    <!-- Edit Volume Modal -->
    <div id="editVolumeModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit Volume</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="editVolumeForm">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="editVolumeName">Volume Name:</label>
                            <input type="text" class="form-control" id="editVolumeName" name="volume_name" required>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-success" id="saveVolumeChanges">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Remove Volume Modal -->
    <div id="removeVolumeModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Remove Volume</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure you want to remove this volume? All associated issues and articles will be removed too.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-danger" id="confirmRemoveVolume">Remove</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

    <!-- Page level plugins -->
    <script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>

    <!-- Page level custom scripts -->
    <script src="{% static 'js/demo/chart-area-demo.js' %}"></script>
    <script src="{% static 'js/demo/chart-pie-demo.js' %}"></script>
    <script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'js/demo/datatables-demo.js' %}"></script>

    <script>
        $(document).ready(function () {
            // Edit Volume Modal
            $('.edit-button').click(function () {
                var volumeId = $(this).data('volume-id');
                var volumeName = $(this).closest('tr').find('td:first').text();
                $('#editVolumeName').val(volumeName);
                $('#editVolumeModal').modal('show');
                $('#saveVolumeChanges').off('click').on('click', function () {
                    var newVolumeName = $('#editVolumeName').val();
                    // Send the new volume name to the server using AJAX
                    $.ajax({
                        url: '/update_volume_name/',
                        type: 'POST',
                        data: {
                            'volume_id': volumeId,
                            'volume_name': newVolumeName,
                            csrfmiddlewaretoken: '{{ csrf_token }}'
                        },
                        success: function (response) {
                            // Handle success response
                            alert('Volume name updated successfully');
                            $('#editVolumeModal').modal('hide');
                            location.reload(); // Reload the page to reflect changes
                        },
                        error: function (xhr, status, error) {
                            // Handle error
                            alert('An error occurred while updating the volume name. Please try again later.');
                            console.error(error);
                        }
                    });
                });
            });

            // Remove Volume Modal
            $('.remove-button').click(function () {
                var volumeId = $(this).data('volume-id');
                $('#removeVolumeModal').modal('show');
                $('#confirmRemoveVolume').off('click').on('click', function () {
                    // Send the volume ID to the server using AJAX
                    $.ajax({
                        url: '/remove_volume/',
                        type: 'POST',
                        data: {
                            'volume_id': volumeId,
                            csrfmiddlewaretoken: '{{ csrf_token }}'
                        },
                        success: function (response) {
                            // Handle success response
                            alert('Volume removed successfully');
                            $('#removeVolumeModal').modal('hide');
                            location.reload(); // Reload the page to reflect changes
                        },
                        error: function (xhr, status, error) {
                            // Handle error
                            alert('An error occurred while removing the volume. Please try again later.');
                            console.error(error);
                        }
                    });
                });
            });
        });
    </script>
</body>

</html>
