{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>JP Admin Panel</title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.css'%}" rel="stylesheet">

</head>

<body id="page-top">

    {% include 'admin_sidebar.html' %}

    <div class="container mt-5">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="journal-tab" data-toggle="tab" href="#journal" role="tab" aria-controls="journal" aria-selected="true">Journal Page</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="article-tab" data-toggle="tab" href="#article" role="tab" aria-controls="article" aria-selected="false">Article</a>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <!-- Journal Page Tab -->
          <div class="tab-pane fade show active" id="journal" role="tabpanel" aria-labelledby="journal-tab">
            <div class="card mt-3">
              <div class="card-body">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">JOURNAL PAGE VISIT COUNTS</h6>
                </div><br>
                <form id="journalForm">
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="journalDepartment">Select Department:</label>
                      <select class="form-control" id="journalDepartment">
                        <option value="">Select Department</option>
                        <option value="computer_science">Department of Computer Science</option>
                        <option value="electrical_engineering">Electrical Engineering</option>
                        <option value="mechanical_engineering">Mechanical Engineering</option>
                        <option value="civil_engineering">Civil Engineering</option>
                      </select>
                    </div>
                    <div class="form-group col-md-6">
                      <label for="journalName">Select Journal:</label>
                      <select class="form-control" id="journalName">
                        <option value="">Select Journal</option>
                        <option value="journal_1">Internet of Things</option>
                        <option value="journal_2">Journal 2</option>
                        <option value="journal_3">Journal 3</option>
                        <option value="journal_4">Journal 4</option>
                      </select>
                    </div>
                  </div>
                </form>
                <div id="journalVisitCount" class="mt-3 card d-none">
                  <div class="card-body">
                    <h5 class="card-title">Journal Page Visit Count</h5>
                    <p class="card-text">Total visits: <span id="journalVisitCountValue">0</span></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <!-- Article Tab -->
          <div class="tab-pane fade" id="article" role="tabpanel" aria-labelledby="article-tab">
            <div class="card mt-3">
              <div class="card-body">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">ARTICLE VISIT COUNTS</h6>
                </div><br>
                <form id="articleForm">
                  <div class="form-row">
                    <div class="form-group col-md-3">
                      <label for="articleDepartment">Select Department:</label>
                      <select class="form-control" id="articleDepartment">
                        <option value="">Select Department</option>
                        <option value="computer_science">Computer Science</option>
                        <option value="electrical_engineering">Electrical Engineering</option>
                        <option value="mechanical_engineering">Mechanical Engineering</option>
                        <option value="civil_engineering">Civil Engineering</option>
                      </select>
                    </div>
                    <div class="form-group col-md-3">
                      <label for="articleJournal">Select Journal:</label>
                      <select class="form-control" id="articleJournal">
                        <option value="">Select Journal</option>
                        <option value="journal_1">Journal 1</option>
                        <option value="journal_2">Journal 2</option>
                        <option value="journal_3">Journal 3</option>
                        <option value="journal_4">Journal 4</option>
                      </select>
                    </div>
                    <div class="form-group col-md-2">
                      <label for="articleVolume">Select Volume:</label>
                      <select class="form-control" id="articleVolume">
                        <option value="">Select Volume</option>
                        <option value="vol_1">Volume 1</option>
                        <option value="vol_2">Volume 2</option>
                        <option value="vol_3">Volume 3</option>
                        <option value="vol_4">Volume 4</option>
                      </select>
                    </div>
                    <div class="form-group col-md-2">
                      <label for="articleIssue">Select Issue:</label>
                      <select class="form-control" id="articleIssue">
                        <option value="">Select Issue</option>
                        <option value="issue_1">Issue 1</option>
                        <option value="issue_2">Issue 2</option>
                        <option value="issue_3">Issue 3</option>
                        <option value="issue_4">Issue 4</option>
                      </select>
                    </div>
                    <div class="form-group col-md-2">
                      <label for="articleName">Select Article:</label>
                      <select class="form-control" id="articleName">
                        <option value="">Select Article</option>
                        <option value="article_1">Article 1</option>
                        <option value="article_2">Article 2</option>
                        <option value="article_3">Article 3</option>
                        <option value="article_4">Article 4</option>
                      </select>
                    </div>
                  </div>
                </form>
                <div id="articleVisitCount" class="mt-3 card d-none">
                  <div class="card-body">
                    <h5 class="card-title">Article Visit Count</h5>
                    <p class="card-text">Total visits: <span id="articleVisitCountValue">0</span></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
      <script>
        // Function to handle changes in journal dropdowns
        $('#journalDepartment, #journalName').change(function() {
          var department = $('#journalDepartment').val();
          var journal = $('#journalName').val();
          if (department && journal) {
            // Simulated visit count (replace with actual logic to fetch visit count)
            var visitCount = Math.floor(Math.random() * 100); // Random number between 0 and 100
            $('#journalVisitCountValue').text(visitCount);
            $('#journalVisitCount').removeClass('d-none');
          } else {
            $('#journalVisitCount').addClass('d-none');
          }
        });
      
        // Function to handle changes in article dropdowns
        $('#articleDepartment, #articleJournal, #articleVolume, #articleIssue, #articleName').change(function() {
          var department = $('#articleDepartment').val();
          var journal = $('#articleJournal').val();
          var volume = $('#articleVolume').val();
          var issue = $('#articleIssue').val();
          var article = $('#articleName').val();
          if (department && journal && volume && issue && article) {
            // Simulated visit count (replace with actual logic to fetch visit count)
            var visitCount = Math.floor(Math.random() * 100); // Random number between 0 and 100
            $('#articleVisitCountValue').text(visitCount);
            $('#articleVisitCount').removeClass('d-none');
          } else {
            $('#articleVisitCount').addClass('d-none');
          }
        });
      </script>


<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
  // Function to handle changes in journal dropdowns
  $('#journalDepartment, #journalName').change(function() {
    var department = $('#journalDepartment').val();
    var journal = $('#journalName').val();
    if (department && journal) {
      // Simulated visit count (replace with actual logic to fetch visit count)
      var visitCount = Math.floor(Math.random() * 100); // Random number between 0 and 100
      $('#journalVisitCountValue').text(visitCount);
      $('#journalVisitCount').removeClass('d-none');
    } else {
      $('#journalVisitCount').addClass('d-none');
    }
  });

  // Function to handle changes in article dropdowns
  $('#articleDepartment, #articleJournal, #articleVolume, #articleIssue, #articleName').change(function() {
    var department = $('#articleDepartment').val();
    var journal = $('#articleJournal').val();
    var volume = $('#articleVolume').val();
    var issue = $('#articleIssue').val();
    var article = $('#articleName').val();
    if (department && journal && volume && issue && article) {
      // Simulated visit count (replace with actual logic to fetch visit count)
      var visitCount = Math.floor(Math.random() * 100); // Random number between 0 and 100
      $('#articleVisitCountValue').text(visitCount);
      $('#articleVisitCount').removeClass('d-none');
    } else {
      $('#articleVisitCount').addClass('d-none');
    }
  });
</script>


   
    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

    <!-- Page level plugins -->
    <script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>

    <!-- Page level custom scripts -->
    <script src="{% static 'js/demo/chart-area-demo.js' %}"></script>
    <script src="{% static 'js/demo/chart-pie-demo.js' %}"></script>

</body>

</html>    